#mainGrid {
    display: inline-grid;
    padding: 3em 0 7.4em;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 425px;
    min-width: 100%;
    position: relative;
    min-height: 80.65%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 30px;
}

@media only screen and (max-width: 1350px){
    #mainGrid{
        grid-template-columns: 300px 300px 300px;
    }
}
@media only screen and (max-width: 1030px){
    #mainGrid{
        grid-template-columns: 300px 300px;
    }
}
@media only screen and (max-width: 700px){
    #mainGrid{
        grid-template-columns: 300px;
    }
}